/*
@define-color foreground #8a8a8d;
@define-color background #1e1e1e;
*/

/* @import "./themes/rose-pine-moon.css"; */
@import "./themes/rose-pine.css";
@define-color foreground @text;
@define-color background @base;
@define-color inactive @muted;

* {
  background-color: @background;
  background: transparent;
  color: @foreground;

  border: none;
  border-radius: 10px;
  min-height: 20px;
  font-family: JetBrainsMono Nerd Font;
  font-size: 15px;
}

window#waybar {
  /* background-color: alpha(@background, 0.9); */
}

.modules-left {
  margin: 8px 0px 8px 10px;
}

.modules-right {
  margin: 8px 10px 8px 0px;
}

#workspaces button {
  all: initial;
  padding: 0 6px;
  margin: 0 1.5px;
  min-width: 9px;
  color: @inactive;
}

#workspaces button.empty {
  opacity: 0.5;
}

/* --- Left Modules */
#hyprland-workspaces,
#custom-filemanager {
  background-color: @background;
  padding: 0.3rem 0.7rem;
  margin: 5px 0px; 
  border-radius: 0;
  box-shadow: none;
  min-width: 0;
  border: none;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

/* --- Center Modules */
#clock {
  background-color: @background;
  padding: 0.3rem 0.7rem;
  margin: 5px 0px;
  border-radius: 6px; /* This module is always rounded */
  box-shadow: 0 1px 3px rgba(153, 209, 219, 0.2);
  min-width: 0;
  border: none;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

/* #custom-filemanager, */
/* #clock, */
#cpu,
#bluetooth,
#pulseaudio,
#network,
#battery,
#custom-exit,
#custom-openwebui,
#custom-brightness,
#custom-hypridle {
  background-color: @background;
  padding: 0.3rem 0.7rem;
  margin: 5px 0px;
  border-radius: 6px; /* This module is always rounded */
  box-shadow: 0 1px 3px rgba(153, 209, 219, 0.2);
  min-width: 0;
  border: none;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

#custom-hypridle.notactive {
  color: rgb(224, 137, 137);
}
tooltip {
  background-color: alpha(@background, 0.9);
  padding: 20px;
  margin: 0px;
}

tooltip label {
  color: @foreground;
}
