/* @import "./themes/rose-pine-moon.css"; */
@import "./themes/rose-pine.css";
@define-color foreground @text;
@define-color background @base;
@define-color inactive @muted;

* {
  font-family: JetBrainsMono Nerd Font;
  font-size: 15px;
  font-weight: bold;
  min-height: 0px;

  background: none;
  margin: 0;
  padding: 0;

  /* 
  background-color: @background;
  color: @foreground;
  border: none;
  border-radius: 10px;
  */
}

window#waybar {
  /* background-color: alpha(@background, 0.9); */
  background: transparent;
}

tooltip {
  color: @foreground;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 12px;
  /* background-color: alpha(@background, 0.9);
  padding: 20px;
  margin: 0px; */
}

.modules-left {
  margin: 8px 0px 8px 10px;
}

.modules-right {
  margin: 8px 10px 8px 0px;
}

#workspaces button {
  all: initial;
  padding: 0 6px;
  margin: 0 1.5px;
  min-width: 9px;
  color: @inactive;
}

#workspaces button.empty {
  opacity: 0.5;
}

/* --- Modules */
#custom-apps,
#clock,
#workspaces,
#cpu,
#bluetooth,
#pulseaudio,
#network,
#battery,
#custom-exit,
#custom-updates,
#custom-openwebui,
#custom-brightness,
#custom-filemanager,
#custom-hypridle {
    background: alpha(@background, 0.75);
    border-radius: 16px;
    padding: 3px 12px;
    margin: 0px;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

#workspaces button {
    background: transparent;
    color: alpha(@foreground, 0.3);
    padding: 2px 6px;
    margin: 0px 1px;
    border-radius: 8px;
    transition: all 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
}

#workspaces button.active {
    background: alpha(@rose, 0.75);
    color: @background;
    padding: 2px 16px;
    border-radius: 16px;
}

#workspaces button.visible {
    color: @foreground;
    transition: all 0.3s ease;
}

#workspaces button:hover {
    background: alpha(@rose, 0.4);
    color: @foreground;
}

#battery {
    color: @foam;
    transition: color 0.4s ease;
}

#battery.charging {
    color: @pine;
}

#battery.warning {
    color: @gold;
}

#battery.critical {
    color: @love;
}

#volume {
    color: @iris;
}

#network {
    color: @foreground;
}

#custom-hypridle.notactive {
  color: rgb(224, 137, 137);
}
